service: sentry

provider:
  name: aws
  runtime: nodejs8.10
  # cfnRole: arn:aws:iam::000000000000:user/xxxxxxxxxxxx
  region: eu-west-1
  environment:
    REMOTE_API_NAME: 'my API name'
    REMOTE_API_BASE: 'https://something.foo/api/v1/'
    REMOTE_API_PATH: 'proposals/public'
    AWS_REGION_SES: 'eu-west-1'
    SMTP_USERNAME: 'XXXXXXXXXXXXXXXXXXXX'
    SMTP_PASSWORD: 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
    SMTP_FROM: 'info@foo.foo'
    SMTP_TO: 'carlo.perassi@foo.foo'

plugins:
  - serverless-offline

functions:
  hello:
    handler: handler.sentry
    events:
      - schedule: rate(1 minute)
